body {
    background-color: #F4F1EA;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #FFFFFF;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 2px solid #293241;
    border-radius: 15px;
}